<h2>収入科目の詳細</h2>

<%= link_to "編集", [:edit, @revenue] %>
<%= link_to "収入科目一覧へ戻る", :revenues %>

<table>

	<tr>
    <th>名称</th>
    <td><%= @revenue.name %></td>
  </tr>

	<tr>
		<th>説明</th>
		<td><%= @revenue.description %></td>
	</tr>
</table>